# Ignore virtual environments
.venv/
venv/
ENV/
env/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore logs
*.log

# Ignore VSCode settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore FAISS index and chunk files
backend/vector_store/

# Ignore environment files
.env

# Ignore node_modules folder
node_modules/
