# For parsing and preprocessing documents
PyMuPDF==1.23.18     # For reading PDF files (fitz)

# Semantic search
sentence-transformers==2.6.1
faiss-cpu==1.7.4

# Data handling
pydantic==2.6.4
numpy==1.26.4
scikit-learn==1.4.2
pandas==2.2.3

# For serialization
joblib==1.4.0

langchain==0.1.20
langchain-core==0.1.52
together==0.2.10
matplotlib==3.8.4
rapidfuzz==3.6.2
streamlit==1.35.0

openpyxl==3.1.5